.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.project {
  border: 1px dotted;
  border-radius: 5px;
  margin: 20px;
  background: rgb(222,222,222);
  background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}

body {
  background: linear-gradient(to right, #a90329 0%,#8f0222 44%,#6d0019 100%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
